<div class="flex-container">
  <img src="/images/beer.png" alt="">
  <button class="button"><a href="/beers">Check the Beers!</a></button>
  <button class="button"><a href="/random-beer">Check a Random Beer!</a></button>
</div>